## Списки

_Список_ (list) - изменяемый (mutable) контейнер. Обращение к элементу списка - по индексу.

Создание списка
Для создания списка применяются квадратные скобки [], внутри которых через запятую перечисляются элементы списка. Например, определим список чисел:

In [2]:
lst=[1,2,5, 123, -4]

Подобным образом можно определять списки с данными других типов, например, определим список строк:

In [3]:
	
people = ["Tom", "Sam", "Bob"]

Также для создания списка можно использовать функцию-конструктор list()
Оба этих определения списка аналогичны - они создают пустой список.

In [4]:
numbers1 = []
numbers2 = list()

Конструктор list может принимать набор значений, на основе которых создается список:

In [5]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = list(numbers1)
print(numbers2)  # [1, 2, 3, 4, 5]
 
letters = list("Hello")
print(letters)      # ['H', 'e', 'l', 'l', 'o']

[1, 2, 3, 4, 5]
['H', 'e', 'l', 'l', 'o']

Для обращения к элементам списка надо использовать индексы, которые представляют номер элемента в списка. Индексы начинаются с нуля. То есть первый элемент будет иметь индекс 0, второй элемент - индекс 1 и так далее. Для обращения к элементам с конца можно использовать отрицательные индексы, начиная с -1. То есть у последнего элемента будет индекс -1, у предпоследнего - -2 и так далее.

In [6]:
people = ["Tom", "Sam", "Bob"]
# получение элементов с начала списка
print(people[0])   # Tom
print(people[1])   # Sam
print(people[2])   # Bob
 
# получение элементов с конца списка
print(people[-2])   # Sam
print(people[-1])   # Bob
print(people[-3])   # Tom

Tom
Sam
Bob
Sam
Bob
Tom

Список необязательно должен содержать только однотипные объекты. Мы можем поместить в один и тот же список одновременно строки, числа, объекты других типов данных

In [7]:
lst = [1, 2.0, 3, 'four', True, [123,321]]
lst

[1, 2.0, 3, 'four', True, [123, 321]]

In [8]:
lst[5][1]

321

In [9]:
lst[0] = 'One'
lst

['One', 2.0, 3, 'four', True, [123, 321]]

In [10]:
[]

[]

In [11]:
type(lst)

list

In [12]:
len(lst)

6

In [13]:
lst[2] = [12, 'three'] # Можно добавить список в список!
lst

['One', 2.0, [12, 'three'], 'four', True, [123, 321]]

In [14]:
len(lst)

6

Два списка считаются равными, если они содержат один и тот же набор элементов:

In [15]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = list([1, 2, 3, 4, 5])
if numbers1 == numbers2:
    print("numbers1 equal to numbers2")
else:
    print("numbers1 is not equal to numbers2")

numbers1 equal to numbers2

In [16]:
lst

['One', 2.0, [12, 'three'], 'four', True, [123, 321]]

In [17]:
lst[1:4][1][1]   # Срез в списке (slice)

'three'

In [18]:
lst[-1][-1]

321

In [54]:
lst = [1,2,3,4,5,[1,2,3,4]]

In [55]:
lst[2:4]

[3, 4]

In [56]:
lst[1:6:2] # с 1 по 6 с шагом 2

[2, 4, [1, 2, 3, 4]]

Можно использовать отрицательные индексы, тогда отсчет будет идти с конца, например, -1 - предпоследний, -2 - третий сконца и так далее

In [57]:
lst[:-1]   # с нулевого по предпоследний

[1, 2, 3, 4, 5]

In [58]:
lst[-3:-1]   # с третьего с конца по предпоследний

[4, 5]

In [22]:
lst

[1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [23]:
lst + lst # Списки можно складывать! Работает почти также как со строками

[1, 2, 3, 4, 5, [1, 2, 3, 4], 1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [24]:
2*lst # Можно сделать то же самое операцией сложения

[1, 2, 3, 4, 5, [1, 2, 3, 4], 1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [25]:
lst = [0, 1, 2, 3, 4]
lst2 = lst
lst2[1] = 111  # lst меняется
print(lst2)
print(lst)

[0, 111, 2, 3, 4]
[0, 111, 2, 3, 4]

In [26]:
lst3 = [1,2,3]

In [27]:
lst3 is lst

False

In [28]:
lst = [0, 1, 2, 3, 4]
lst3 = lst[:]
lst3[1] = 11
print(lst3)
print(lst)

[0, 11, 2, 3, 4]
[0, 1, 2, 3, 4]

In [29]:
[1,2,3] == [1,2,3]

True

In [30]:
a = [1,2,3]
b = [1,2,3]

In [31]:
id(a)

2069902618752

In [32]:
id(b)

2069902597824

In [33]:
[1,2,3] is [1,2,3]

False

In [34]:
2==2

True

In [35]:
a=2
b=2
a is b

True

In [36]:
winter = ['December', 'January', 'February']
spring = ['March', 'April', 'May']
summer = ['June', 'July', 'August']
autumn = ['September', 'October', 'November']
print(winter + summer)            # Сложение списков (конкатенация)
print([winter, summer, spring])   # Список списков

['December', 'January', 'February', 'June', 'July', 'August']
[['December', 'January', 'February'], ['June', 'July', 'August'], ['March', 'April', 'May']]

In [37]:
year = winter + spring + summer + autumn
print(year)

['December', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']

В Python существуют методы которые можно применять к различным переменным. Методом называют всё что применяется к какой-либо переменной с точкой. Например : `.append()`

In [38]:
new_year = year[:]
new_year.append('January') # В данном случае .append() - это метод позволяющий добавить в конец списка какое-либо значение
new_year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'January']

In [39]:
year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November']

In [40]:
year = year + ['February']
year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'February']

In [41]:
year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'February']

In [42]:
'January' in year

True

In [43]:
winter

['December', 'January', 'February']

In [44]:
'January' not in winter

False

In [45]:
year.append('NewMonth')
print(year)
year.pop()
print(year)

['December', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'February', 'NewMonth']
['December', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'February']

In [46]:
lst = []
item = 2
indx = 0

Существую различные методы которые можно применить к списку

In [47]:
lst

[]

In [48]:
lst.append(item)       # Вставить в конец
lst.pop()              # Удалить последний и возвратить значение
lst.insert(indx, item) # Вставка в указанную позицию
lst.count(item)        # Найти количество вхождений значений в списке
lst.index(item)        # Индекс первого вхождения значения в списке
lst.remove(item)       # Удалить первое вхождение значения в список
lst.sort()             # Сортировать список
lst.reverse()          # Записать в обратном порядке

In [49]:
lst = [1,2,3,1,111,222]
print(lst)
lst.remove(1)
print(lst)

[1, 2, 3, 1, 111, 222]
[2, 3, 1, 111, 222]

In [50]:
lst.remove(1)

In [51]:
lst

[2, 3, 111, 222]

В Python сущетвуют встроенные функции, которые также можно применять к различным переменным, которые вы создали. Например: Вызов функции `min()` или `max()` осуществляется следующим образом:

In [52]:
#Внутрь фукнции min или max мы посадили список.
#Функция возвращает нам минимальное и максимальное число из списка соответственно
 
lst = [1, 3, 44, 12, 21, 1, -3, 1, 44, 12, 35, 13]
print(min(lst), max(lst)) 
lst.sort() # Метод .sort() возвращает вам отсортированный список по возрастанию
# print(lst)

-3 44

Проверка наличия элемента
Если определенный элемент не найден, то методы remove и index генерируют исключение. Чтобы избежать подобной ситуации, перед операцией с элементом можно проверять его наличие с помощью ключевого слова in:

In [61]:
people = ["Tom", "Bob", "Alice", "Sam"]
 
if "Alice" in people:
    people.remove("Alice")
print(people)       # ["Tom", "Bob", "Sam"]

['Tom', 'Bob', 'Sam']

Python также поддерживает еще один способ удаления элементов списка - с помощью оператора del. В качестве параметра этому оператору передается удаляемый элемент или набор элементов

In [62]:
people = ["Tom", "Bob", "Alice", "Sam", "Bill", "Kate", "Mike"]
 
del people[1]   # удаляем второй элемент
print(people)   # ["Tom", "Alice", "Sam", "Bill", "Kate", "Mike"]
del people[:3]   # удаляем  по четвертый элемент не включая
print(people)   # ["Bill", "Kate", "Mike"]
del people[1:]   # удаляем  со второго элемента
print(people)   # ["Bill"]

['Tom', 'Alice', 'Sam', 'Bill', 'Kate', 'Mike']
['Bill', 'Kate', 'Mike']
['Bill']